*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$primary-color: #8e9775;
$secondary-color: #CCCCCC;
$text-color: #000000;
$titles: 30px;
$body-text: 15px;

/*start of header*/
header{
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  display: grid;
  grid-template-columns: 20% auto 20%;
  height: 130px;
  text-align: center;
  width: 100%;
}

.burgermenu{
  cursor: pointer;
  font-size: 20px;
  padding-top: 50px;
}

.logo img{
  height: 90px;
  margin-top: 20px;
}

.basket{
  cursor: pointer;
	float: right;
	font-size: $body-text;
  padding-top: 30px;
  padding-right: 100%;
}

.circle{
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  font-size: $body-text;
  height: 40px;
  padding: 10px;
  width: 40px;
}
/*end of header*/


/*start of welcome section*/
.welcome{
	margin-top: 150px;
}

.welcome h1{
	font-size: $titles;
	text-align: center;
}


.welcome p{
	font-size: $body-text;
	margin: 20px;
	text-align: center;
}

/*horizontal line*/
.eller{
	display: flex;
	justify-content: center;
}

.eller h2 {
	border-bottom: 1px solid #707070;
	color: #707070;
	width: 80%;
	font-size: $body-text;
	line-height: 0.1em;
	margin-bottom: 30px;
	margin-top: 30px;
}

.eller h2 span {
	background: #fff;
	padding: 0 10px;
}

/*buttons*/
.buttons{
	text-align: center;
}

.blk-btn{
	background: #000;
	border-style: none;
	color: #fff;
	cursor: pointer;
	font-size: $body-text;
	height: 50px;
	width: 300px;
}

.wht-btn{
	background: #fff;
	border: 2px;
	border-style: solid;
	border-color: #000;
	color: $text-color;
	cursor: pointer;
	font-size: $body-text;
	height: 50px;
	width: 300px;
}

.wht-btn:hover{
	background: #000;
	color: #fff;
	transition: 0.4s;
}

/*benefit list*/
.benefits{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.benefits ul{
	list-style: none;
}

.benefits i{
	color: $primary-color;
	padding: 10px;
}
/*end of welcome section*/











/*start of bottom navigation*/
.bottom-nav {
  bottom: 0;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  height: 50px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.bottom-nav i{
	color: $text-color;
  font-size: 20px;
  margin: 15px 30px;
}
/*end of bottom navigation*/
