*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*start of header*/
header{
  background-color: #fff;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  height: 300px;
  text-align: center;
  width: 100%;
}

header img{
  height: 200px;
  margin: 50px;
}



.burgermenu{
	cursor: pointer;
	float: left;
	font-size: 50px;
	margin-left: 50px;
	margin-top: 120px;
}

.kurv{
	cursor: pointer;
	float: right;
	font-size: 40px;
	position: relative;
	margin-right: 50px;
	margin-top: 70px;
}


.circle{
  border-style: solid;
  border-radius: 50%;
  font-size: 40px;
  height: 100px;
  padding: 20px;
  width: 100px;
}
/*end of header*/







/*start of profil navigation*/
.profil-nav{
	background: pink;
	color: #000;
	display: inline-block;
	font-size: 40px;
	height: 150px;
	text-align: center;
	width: 100%;
}

.profil-nav a{
	color: #000;
	text-decoration: none;
}

.min-profil{
	border: 2px;
	border-style: solid;
	border-color: #000;
	display: inline-block;
	height: 150px;
	width: 33.33%;
}

.laeringsforlob{
	border: 2px;
	border-style: solid;
	border-color: #000;
	display: inline-block;
	height: 150px;
	width: 33.33%;
}

.mentor{
	border: 2px;
	border-style: solid;
	border-color: #000;
	display: inline-block;
	height: 150px;
	width: 33.33%;
}
/*end of profil navitaiton*/









/*start of buttons*/
.blk-btn{
	background: #000;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	height: 100px;
	width: 300px;
}


.wht-btn{
	background: #fff;
	border: 2px;
	border-style: solid;
	border-color: #000;
	color: #000;
	cursor: pointer;
	font-size: 30px;
	height: 100px;
	width: 300px;
}

.wht-btn:hover{
	background: #000;
	color: #fff;
	transition: 0.4s;
}

/*end of buttons*/







/*start of bottom navigation*/
.bottom-nav {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  height: 100px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.bottom-nav i{
	color: #000;
  font-size: 50px;
  margin: 20px 70px;

}
/*end of bottom navigation*/
