@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$greenColor: #ECF0E1;
$redColor: #FFF1F1;
$greyColor: #EEEEEE;
$primaryTextColor: #424542;
$secondaryTextColor: #8E9775;
$padding: 20px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 375px;
    font-family: 'Jost', sans-serif;

    color: $primaryTextColor;
}

main {
    padding: $padding;

    .green-text {
        color: $secondaryTextColor;
    }

    a {
        color: $primaryTextColor;
        text-decoration: none;
    }

    .clear-box {
        padding: $padding;
    }

    .green-box {
        background-color: $greenColor;
        padding: $padding;
    }
    
    .red-box {
        background-color: $redColor;
        padding: $padding;
        margin-top: 20px;

        hr {
            margin: 5px 0;
        }

        .list {
            margin-top: 20px;
        }

        .list ul {
            list-style-type: none;
            list-style-position: inside;
        }
    }

    .edit-info {
        font-size: .8rem;
        margin-top: 20px;

        .a-underline {
            text-decoration: underline;
        }
    }

    .change-password {
        display: inline;
    }

    .password-changed {
        display: none;
        text-align: center;
    }
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
}

.sidebar {
    display: none;
    background-color: white;
    
    width: 290px;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: 0;
    .sidebar-top {
        display: flex;
        justify-content: right;
        align-items: center;
        width: inherit;
        color: white;
        padding: 20px 15px;
        background-color: $secondaryTextColor;

        button {
            background: none;
            border: none;
            color: white;
            display: flex;
        }
    }

    .sidebar-content {
        padding: 20px;

        a {
            color: $primaryTextColor;
            text-decoration: none;
        }

        hr {
            margin: 5px 0;
        }

    }
}

