@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

$greenColor: #ECF0E1;
$redColor: #FFF1F1;
$greyColor: #EEEEEE;
$primaryTextColor: #424542;
$secondaryTextColor: #8E9775;
$padding: 40px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 375px;
    font-family: 'Jost', sans-serif;

    color: $primaryTextColor;
}

main {
    a {
        color: $primaryTextColor;
        text-decoration: none;
    }
    
    .front-page {
        padding: $padding;

        background-image: url(../img/mentor-baggrund.png);
        .testimonial {
            font-size: 1.1rem;
        }
    
        .mentor-options {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 10px;
        }
    }

    .sorting {
        display: flex;

        button {
            width: 50%;
            padding: 5px;
        }
    }

    .mentors {
        padding: $padding;

        .mentor {
            display: flex;

            margin-bottom: 40px;

            img {
                margin-right: 20px;
            }
        }
    }

    .mentor-profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 50px 0;

        img {
            width: 15rem;
            margin-bottom: 50px;
        }

        .mentor-info {
            .info-piece {
                display: flex;
            }
        }

        .profile-text {
            margin-top: 40px;

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .gallery {
            margin-top: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;

            img {
                width: 5rem;
            }
        }

    }

    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;

        .picture-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $primaryTextColor;
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        input {
            width: 100%;
            margin-top: 10px;
            padding: 5px;
        }

        h2 {
            text-align: center;
            margin-top: 40px;
        }

        h4 {
            text-align: center;
            color: grey;
        }

        textarea {
            width: 100%;
            height: 100px;
        }
    }
    
    // .fixed-graphic {
        //     position: fixed;
        //     bottom: 0;
        //     right: 0;
        
        //     z-index: 950;
        // }
}

.contact-form {
    border-top: 1px solid $primaryTextColor;
    width: 100%;
    padding: 40px 50px;

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 5px;
        color: red;

        margin-bottom: 20px;
    }

    textarea {
        padding: 5px;
        width: 100%;
        color: $primaryTextColor;
        font-family: 'Jost', sans-serif;
    }
}